// Font.
$font: (
  primary: (
    Futura,
    Roboto,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif,
  ),
  monospace: (
    Consolas,
    Monaco,
    "Andale Mono",
    "Ubuntu Mono",
    monospace,
  ),
);

// Palette.
$palette: (
  charcoal: #1a1d1e,
  charcoal-light-3: lighten(#202427, 3%),
  charcoal-light-7: lighten(#202427, 7%),
  charcoal-light-15: lighten(#202427, 15%),
  charcoal-light-25: lighten(#202427, 25%),
  charcoal-light-40: lighten(#202427, 40%),
  charcoal-light-60: lighten(#202427, 60%),
  charcoal-light-75: lighten(#202427, 75%),
  charcoal-light-80: lighten(#202427, 80%),
  charcoal-dark-15: darken(#202427, 15%),
  accent: #d8195e,
  accent-blue: #0c8aea,
  accent-green: #0da5b1,
  accent-violet: #7c43a8,
  accent-yellow: #ffd64f,
);

@import "imports/functions";
@import "imports/reset";
@import "imports/general";
@import "imports/buttons";
@import "imports/icons";
@import "imports/forms";
@import "imports/helpers";
@import "imports/animations";
@import "imports/structure";
@import "imports/header";
@import "imports/posts-pages";
@import "imports/portfolio";
@import "imports/sections";
@import "imports/footer";
@import "imports/banner";
